---
---

@import "{{ site.theme }}";

body{ 
    background-color: #fdfffc;
}

.site-footer {
    text-align: center;
    font-size: 9px; 
    color: gray; 
    padding: 8px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black !important;
    text-decoration: none;
    // pointer-events: none;
  }

html {
    scroll-behavior: smooth;
  }

.header-with-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-with-top a.go-to-top {
    color: lightgray;
    font-size: 12px;
    text-decoration: none;
}

.header-with-top a.go-to-top:hover {
    text-decoration: underline;
    color: darkgray;
}

.header-with-top {
    line-height: 1.5;
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 10px;
}

.custom-figure {
    margin: 0 auto; 
    padding-bottom: 20px;
}

.custom-figure img {
    display: block;
    margin: 0 auto;
}


.header-seps {
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 10px;
}

// .child {
//     width: 75vw;
//     position: relative;
//     left: 25%;
//     right: 25%;
//     margin-left: -25vw;
//     margin-right: -25vw;
//     overflow-x: auto; 
//     text-align: center;
//     padding-bottom: 20px;
//   }

.child {
    position: relative;
    width: 100%;  /* Chart container takes the full width of its parent */
    overflow-x: auto;  /* Enables horizontal scrolling if necessary */
    text-align: center;
    padding-bottom: 20px;
}

.child table {
    width: calc(100vw - 40px);  /* Subtract a fixed amount to prevent horizontal scrollbar issues */
    min-width: 1000px;  /* Set a minimum width to ensure it's larger than the container */
    margin: 0 auto;  /* Center the table within the container */
}

@media (min-width: 1024px) {
    .child {
        width: 150%;  /* Allow the container to exceed the width of the text block */
        margin-left: -25%;  /* Shift the container to the left */
        margin-right: -25%;  /* Shift the container to the right */
    }
}

@media (max-width: 1023px) {
    .child table {
        width: 100%;  /* On smaller screens, fit the table within the screen */
        min-width: 600px;  /* Ensure it doesn’t shrink too much */
    }
}

img {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 1px; 
  }